html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: inherit;
  color: #fff;
  font-family: "Lato", sans-serif;
}

/* center the wrap */
.wrap {
  width: 1000px;
  margin: 0 auto;
}

/* button styles */
.sign-up {
  background-color: #3882f6;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: #fff;
  padding: 6px 30px;
  margin-top: 10px;
}

/* header styles */
header {
  background-color: #1f2937;
}

.header-flex {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #f9faf8;
  font-size: 24px;
}

ul {
  display: flex;
  gap: 15px;
  text-decoration: none;
  list-style-type: none;
}

ul li a {
  color: #e5e7eb;
  font-size: 18px;
}

/* header hero content */
.content {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  gap: 40px;
}

.hero-text {
  font-size: 48px;
  color: #f9faf8;
}

.hero-copy {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 200px;
  background-color: #333;
}

/* information section */
.information {
  padding: 60px 0;
  /* border: 1px solid red; */
}

.info-header {
  text-align: center;
  margin-bottom: 30px;
  color: #1f2937;
  font-weight: 700;
  font-size: 36px;
}

.information-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.information .box {
  width: 130px;
  height: 130px;
  border: 4px solid #3882f6;
  border-radius: 8px;
  margin-bottom: 5px;
}

.information-flex div p {
  color: #1f2937;
  width: 135px;
  text-align: center;
}

/* testimonial section */
.testimonial {
  /* border: 1px solid red; for debugging*/
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

blockquote {
  font-size: 34px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
}

.author {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
}

.author p {
  font-size: 18px;
  color: #1f2937;
}

/* cto section */
.cto {
  padding: 60px 0;
}

.cto-flex {
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  border-radius: 8px;
}

.secondary {
  border: 2px solid #fff;
}

/* footer section */
footer {
  text-align: center;
  background-color: #1f2937;
  padding: 20px 0;
}
